@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
.header-text{

    text-align:center;
}
.login-container{
    margin-left:25%;
    margin-right:25%;
}
#chat-container{
   height:500px;
}
#send-container{

    position: absolute;
    bottom: 0;
    text-align:center;
    width:100%;
}
#chat-box{
    height:500px;
}

span[sender = other]{
    color:white;
    background-color:#1982FC;
    padding:10px;
    font-size:15pt;
    border-radius:10px;
    
}
span[sender =  self]{
    transform:translateX(1000px);
    color:white;
    background-color:#3a3a3d;
    padding:10px;
    font-size:15pt;
    border-radius:10px;
}
span{
    display:inline-block;
    
}